body {
    background-color: #F5F5FA;
    font-family: Roboto;
}

.main {
    margin: 15% 0;
}

.container {
    background-color: #ffffff;
    height: 250px;
    color: #676A6D;
    border-radius: 5px;
    box-shadow: -1px 3px 5px 1px #eae7e7;
}

.first {
    padding: 15px 0 10px 0;
}

.second {
    text-align: right;
    color: #A4A7AA;
    font-size: 20px;
}

h5 {
    text-transform: uppercase;
}

.but {
    text-align: center;
    position: relative;
}
.but button {
    padding: 3px 11px 3px 22px;
    font-size: 14px;
    background-color: red;
}

.but i {
    position: absolute;
    top: 23%;
    left: 46.8%;
    color: #ffffff;
    font-weight: bold;
}

.time-left {
    padding-top: 10px;
    text-align: center;
}
.time-left p {
    margin-bottom: 5px;
}

.progress {
    height: 25px;
}

span {
    color: #4CAF50;
}

.second-2 {
    text-align: right;
}

hr {
    margin-top: 0;
}

@media (max-width: 1159px) {
    .but i {
        left: 46.2%;
        top: 22%;
    }

@media (max-width: 991px) {
    .but i {
        left: 45%;
        top: 23%;
    }
@media (max-width: 767px) {
    .but i {
        left: 43%;
        top: 21%;
    }
    .but {
        margin-top: 60px;
    }
    .second-2 {
        text-align: center;
    }
    .uploaded p {
        width: 100%;
        text-align: center;
        margin-bottom: 5px;
    }
    .second i {
        position: absolute;
        bottom: 10px;
        right: 20px;
    }
}
}
}
@media (max-width: 575px) {
    .but i {
        left: 43%;
        top: 21%;
    }
@media (max-width: 470px) {
    .but i {
        left: 42%;
        top: 21%;
    }
@media (max-width: 362px) {
    .but i {
        left: 40%;
        top: 21%;
    }
























