
/*Header area*/

.header {
    background-image: url("images/header-bg.jpg");
    text-align: center;
}

.header a {
    color: #FFFFFF;
}

.header li a:hover {
    background-color: #5A3471;
}

.header .navbar {
    color: #E84546;
}

.header ul {
    margin-left: 99%;
}

.header ul li a {
    margin-left: 30px;
    text-transform: uppercase;
}

.header ul li.active a {
    background-color: #5A3471;
}

/*Header caption area*/

.header-caption {
    padding: 150px 0 220px 0;
}

.header-caption h1 {
    padding: 20px 0;
}

.header-caption .btn {
    background-color: #DF6638;
    margin-top: 50px;
}

.header-caption a {
    font-size: 20px;
    padding: 15px 55px;
    text-transform: uppercase;
}

.header-caption {
    width: 120%;
}

.header .offset-md-2 {
    margin-left: 11%;
}

.header-caption .btn:hover {
    background-color: #FE5B5C;
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0;
    padding-left: 0;
}

/*home area*/

#home {
    padding: 120px 0;
    text-align: center;
    background-image: url("images/home-bg.jpg");
    color: #FFFFFF;
}

#home .text p {
    margin-top: 30px;
}


#home .single-item h5, h2 {
    text-transform: uppercase;
}

#home .text h2 {
    font-size: 40px;
}

#home .text {
    position: relative;
}

#home .text h2:after {
    position: absolute;
    content: " ";
    clear: both;
    display: block;
    border: 2px solid #c8d9e5;
    width: 10%;
    top: 42%;
    left: 45%;
}

#home .single-item p  {
    padding: 0 30px;
}

#home .single-item  {

}



/*work area*/

#works {
    padding: 50px 0;
}

#works .item {
    position: relative;
    box-shadow: 0 0 0 1px #fff;
    overflow: hidden;
}

#works .item .img-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(232, 69, 70, .9);
    opacity: 0;
    visibility: hidden;
    transition: .5s;
    cursor: pointer;
}

#works .item img {
    transition: .5s;
}

#works .item:hover img {
    transform: scale(1.2);
}

#works .item:hover .img-overlay {
    visibility: visible;
    opacity: 1;
}

#works .item .work-caption {
    text-align: center;
    color: #FFF;
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
}

#works .item .work-caption h5 {
    margin: 0;
    font-size: 15px;
}

#works .item .work-caption p {
    font-size: 12px;
}

/*ourteam area*/

#ourteam {
    padding: 30px 0;
}
#ourteam .social-icon {
    margin: 0;
    padding: 0;
}
#ourteam .single-item h5 {
    padding-top: 25px;
    font-weight: normal;
}
#ourteam .single-item h6 {
    padding-bottom: 10px;
    color: #e84545;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 15px;
}
#ourteam .single-item p {
    font-size: 14px;
    color: #9F9F9F;
}
#ourteam .single-item ul {
}

#ourteam .single-item ul li {
    display: inline-block;
    text-decoration: none;
    list-style: none;
    margin-right: 5px;
}

#ourteam .single-item ul li a {
    border: 1px solid #ccc;
    color: #ccc;
    display: block;
    padding: 5x;
    height: 35px;
    width: 35px;
    line-height: 35px;
    text-align: center;
    border-radius: 3px;
    transition: .35s;
}

#ourteam .single-item ul li:hover a {
    background-color: #E84546;
    color: #fff;
}

/*testimonials area*/

#testimonials {
    padding: 30px 0;
}

#testimonials .tm-side {
    height: 100%;
    width: 100%;
    background-color: #D9DEE2;
}

#testimonials .carousel-inner img {
    padding-top: 11%;
}

/*Dwonload area*/

#download {
    padding: 30px 0;
}

#download .btn {
    background-color: #E84546;
    margin-bottom: 30px;
}

#download a {
    font-size: 12px;
    padding: 5px 50px;
}

#download .btn:hover {
    background-color: #FE5B5C;
}

#download h3 {
    margin: 5px 0;
    font-weight: normal;
}
#download p {
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 40px;
}

/*footer area*/

.footer {
    background-color: #2F304C;
    padding: 40px 0;
}

.footer .footer-item h5 {
    color: #fff;
    text-transform: uppercase;
    font-size: 15px;
}

.footer .footer-item p {
    color: #D2D2D2;
    font-size: 12px;
}

.footer .footer-item ul li {
    display: inline-block;
}

.footer .footer-item ul {
    padding: 10px 0 0 0;
}

.footer .footer-item a {
    color: #fff;
    text-transform: uppercase;
    border: 1px solid #FFF;
    font-size: 25px;
    border-radius: 3px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    display: block;
}

/*footer-lastpart area*/

.footer-lastpart {
    background-color: #000000;
    padding: 20px 0;
}
.footer-lastpart p {
    color: #D2D2D2;
    font-size: 12px;
    margin-bottom: 0;
}
.footer-lastpart .f-lastpart span {
    color: #e84545;
}

.footer-lastpart p:nth-child(2) {
    color: #FFF;
}